
* {margin: 0; padding: 0; box-sizing: border-box; font-family: Arial, sans-serif;}
body, html {
  height: 100%;
  overflow-x: hidden; 
}

body {
  margin: 0;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px; 
}
.form-box {
  width: 500px;              
  min-height: 400px;          
  background:  #fff;
  padding: 50px;             
  border-radius: 15px;       
  box-shadow: 0 6px 30px rgba(2, 6, 23, 0.08);
  animation: slideIn 1s ease-in-out;
  display: flex;             
  flex-direction: column;     
  justify-content: center;    
  color: #fff; 
  margin-left: 50px;
}

.logo{
  display: block;
  margin: 0 auto 20px auto;
  width: 100px;
  height: 100px;
  border-radius: 12px;
}

.login-account-title {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #000000;
  text-transform: uppercase;
}

.login-account-sub-title{
  text-align: center;
  margin-top: -20px;
  margin-bottom: 30px;
  font-size: 0.9rem;
  color:#2b2a2aad;
}

label {
  display: block;
  font-size: 1rem;
  margin-bottom: 6px;
  color: #000000;
}


input::placeholder { 
  color: #666; 
  font-size: 1.2rem;            
}

.password-container {
  position: relative;
  display: flex;
  align-items: center;
}
.password-container i {
  position: absolute;
  right: 10px;
  color: #555;
  margin-top: -15px;
}
.password-container input {
  margin-bottom: 1rem;
  padding: 0.75rem;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  font-size: 1rem;
  width: 100%;
}

button {
  width: 100%;
  padding: 0.75rem;
  margin-top: 10px;
  border: none;
  border-radius: 8px;   
  background: linear-gradient(135deg,#0066ff,#7c3aed);
  color: #fff;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s;
}

button:hover { 
  transform: scale(1.03); 
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateX(50px); }
  to { opacity: 1; transform: translateX(0); }
}

@keyframes slideIn {
  from { opacity: 0; transform: translateX(-50px); }
  to { opacity: 1; transform: translateX(0); }
}

/* Responsive (mobile view stacked) */
@media(max-width: 750px) {
  body {
    flex-direction: column;
    padding: 20px;
  }
  .form-box {
    width: 95%;
    min-height: auto;
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
  }

  .form-box h2 { 
    font-size: 1.5rem; 
  }
  label { 
    font-size: 1rem; 
  }
  input[type="password"] {
     font-size: 1rem; padding: 12px; 
  }
  button { 
    font-size: 1.1rem; 
    padding: 12px; 
  }
  .small-text, .checkbox-container { 
    font-size: 0.95rem; 
  }
  /* Hide right text in mobile */
  .right-side-text { display: none; }
}
